/* Frank section */
section.first {
    padding-top: 10vw;
    padding-bottom: 10vw;
    color: white;
}

.container.text h3 {
    border-top: 4px solid white;
    padding-top: 10px;
}

section.first .container.grid {
    column-gap: 150px;
}

section.first p {
    color: white;
    margin-bottom: 1vw;
}

section.first .container.text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Formulaire */
.formulaire img{
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.form_button{
    display: inline-block;
    position: absolute;
    background-color: #307CFF;
    border: none;
    font-size: 16px;
    width: 20%;
    height: 7%;
    text-align: center;
    vertical-align: center;
    transform: translate(-50%,50%);
    top: 50%;
    left: 50%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    font-family: "HelveticaNeue";
    font-weight: bold;
    color: white;
}

.form_button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
.form_button:hover{
    background-color: #0054e6;
}

.form_button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .form_button:hover span {
    padding-right: 25px;
}
  
.form_button:hover span:after {
    opacity: 1;
    right: 0;
}

/* Section avis */
.avis_container {
    width: auto;
    height: 530px;
    background-color: #F0F2EF;
    position: relative;
}

.titre_avis {
    font-size: 36px;
    color: black;
    display: block;
    width: auto;
    text-align: center;
    padding-top: 100px;
}

.avis_container ul {
    width: auto;
    height: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cercle {
    width: 15vh;
    height: 15vh;
    border-radius: 7.5vh;
    background-color: white;   
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.438);
    background-position : 50% 50%;
    background-size : contain;
    /* position: relative; */
}

.cercle.un {
    background-image: url(../assets/images/icons/moto-icon1.png);
}

.cercle.deux {
    background-image: url(../assets/images/icons/moto-icon2.png);
}

.cercle.trois {
    background-image: url(../assets/images/icons/moto-icon3.png);
}

.etoiles {
    margin-top: 10px;
    width: 120px;
    height: 30px;
    background-image: url(../assets/images/icons/etoile.png);
    background-size : 20%;
}

.fixed-devis-button {
    position: absolute;
    z-index: 10;
    right: 100px;
    top: 80%;
}

.fixed-devis-button a {
    width: 100%;
    height: 100%;
}

