/* Formulaire */
.formulaire img{
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.form_button{
    display: inline-block;
    position: absolute;
    background-color: #307CFF;
    border: none;
    font-size: 16px;
    width: 20%;
    height: 7%;
    text-align: center;
    vertical-align: center;
    transform: translate(-50%,50%);
    top: 50%;
    left: 50%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    font-family: "HelveticaNeue";
    font-weight: bold;
    color: white;
}

.form_button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
.form_button:hover{
    background-color: #0054e6;
}

.form_button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .form_button:hover span {
    padding-right: 25px;
}
  
.form_button:hover span:after {
    opacity: 1;
    right: 0;
}


/* Section apropos */
.franck_container_HP {
    width: auto;
    height: 100vh;
    background-image: url(https://media.lesechos.com/api/v1/images/view/5dfb1ead3e454677d03dcfd5/1280x720/0602427031117-web-tete.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.a_propos {
    color: white;
    font-size: 36px;
    margin-top: 175px;
    display: inline-block;
    margin-left: 52vw;
    padding-top: 20px;
    border-top: 4px solid white;
    width: 30vw;
}

.resume_a_propos {
    color: white;
    font-size: 24px;
    margin-top: 45px;
    display: inline-block;
    margin-left: 52vw;
    width: 30vw;
}

.styled {
    border: 0;
    line-height: 2.5;
    padding: 5px 20px;
    font-size: 1rem;
    color: white;
    background-color: rgba(220, 0, 0);
    margin-top: 70px;
    margin-left: 52vw;
    display: flex;
    align-items: space-around;
    font-family: "HelveticaNeue";
    font-weight: bold;
}

.styled:hover {
    background-color: rgba(255, 0, 0, 1);
}

.fleche {
    width: 20px;
    height: 20px;
    right: 20px;
    margin-top: 10px;
    display: inline-block;
    margin-left: 20px;
}

button p {
    color: white;
}

.franck_image {
    width: 25vw;
    top: 175px;
    height: 60vh;
    left: 10vw;
    background-color: white;
    position: absolute;
}

/* Section avis */
.avis_container {
    width: auto;
    height: 530px;
    background-color: #F0F2EF;
    position: relative;
}

.titre_avis {
    font-size: 36px;
    color: black;
    display: block;
    width: auto;
    text-align: center;
    padding-top: 100px;
}

.avis_container ul li {
    display: inline-block;
    margin-top: 20vh;
    margin-left: 24vw;
}

.fixed-devis-button {
    position: absolute;
    z-index: 10;
    right: 100px;
    top: 80%;
}

.fixed-devis-button a {
    width: 100%;
    height: 100%;
}

