/* Polices */
@font-face {
    font-family: "HelveticaNeue";
    src: url("assets/fonts/HelveticaNeueLTStd-Roman.otf");
    font-weight: normal;
}

@font-face {
    font-family: "HelveticaNeue";
    src: url("assets/fonts/HelveticaNeueLTStd-BlkEx.otf");
    font-weight: bold;
}

/* Communes */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "HelveticaNeue";
}

p, a {
    font-size: 1.25vw;
    text-decoration: none;
    color: black;
    
}


a {
    cursor: pointer;
}


a {
    cursor: pointer;
}


ul {
    list-style: none;
}

h1 {
    font-size: 5.6vw;
}

h2 {
    font-size: 3.75vw;
}

h3 {
    font-size: 1.87vw;
}

.container {
    position: relative;
}

button {
    border: none;
    cursor: pointer;
}

/* Flex lists */
.flex {
    display: flex;
    align-items: center;
    list-style: none;
}

.flex.between {
    justify-content: space-between;
}

.flex.around {
    justify-content: space-around;
}

.flex.center {
    justify-content: center;
}

.flex li:not(:last-child) {
    margin-right: 4vw;
}

/* Header */
header {
    width: 100vw;
    height: 6vw;
    padding: 0px 11.45vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    background-color: white;
    z-index: 1;
}

/* Image */
header .container {
    width: 7vw;
    height: 100%;
}

header .container img {
    width: 100%;
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, 50%);
}

/* Navigation links */
header ul li a {
    font-weight: bold;
    transition: color 0.5s, border-bottom-color 0.5s;
}

header ul:hover li a, header ul:hover li a.active {
    color: rgba(0, 0, 0, 0.39);
    border-bottom-color: rgba(0, 0, 0, 0.39);
}

header ul li a:hover, header ul li a.active:hover {
    color: black;
    border-bottom-color: black;
}

header ul li a.active {
    border-bottom: 4px solid black;
}

/* Footer */
footer {
    width: 100%;
    padding: 3vw 11.45vw;
    background-color: rgb(17, 17, 17);
}

/* Liens */
footer ul:first-child li a {
    color: white;
}

/* Signature (icon et nom) */
footer .container {
    width: 100%;
    border-bottom: 2px solid rgb(63, 63, 63);
    margin-top: 5%;
    padding-bottom: 0.78vw;
}

footer .container img {
    width: 2.6vw;
    margin-right: 0.78vw;
}

footer .container p {
    color: white;
}

/* Conditions d’utilisation */
footer .politics {
    margin-top: 3%;
}

footer .politics li, footer .politics li a, footer .copyright {
    color: rgb(92, 92, 92);
}

footer .politics li, footer .politics li a, footer .copyright {
    font-size: 0.78vw;
}

footer .politics li:not(:last-child) {
    margin-right: 0.36vw;
}

footer .politics li a:hover {
    text-decoration: underline;
}

/* Copyright */
footer .copyright {
    margin-top: 3.5%;
}

/* Paragraphe avec illustration a gauche */
.illustr-left-para {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-gap: 40px;
    grid-auto-rows: 1fr;

    width: 100%;
    padding: 15vw 11.45vw 0 11.45vw;
}

.illustr-left-para img {
    width: 100%;
}

.illustr-left-para div h2, .illustr-left-para div p {
    color: white;
}

/* Sections */
section {
    position: relative;
}

.bg {
    width: 100%;
    position: absolute;
    z-index: -1;
    overflow: hidden;
    pointer-events: none;
}

.rencontrer .bg {
    opacity: 0.8;
}

.rencontrer .two-blocks {
    padding: 20vw 11.45vw 45vw 11.45vw;
}

.rencontrer .two-blocks .block, .rencontrer .two-blocks .block p {
    color: white;
}

.rencontrer .two-blocks .block {
    padding: 2.5vw;
    width: 27vw;
    height: 24vw;
    background-color: black;
    border-top: 5px solid white;
    position: absolute;
    left: 25%;
    top: 25%;
}

.rencontrer .two-blocks iframe {
    width: 36vw;
    height: 23.4vw;
    position: absolute;
    left: 40%;
    top: 50%;
}

.categories {
    width: 100%;
    margin-top: 6.1vw;
    padding: 2vw 0px;
    background-color: rgba(0, 0, 0, 0.05);
}

.categories ul li p {
    text-align: center;
}

.categories ul li img {
    width: 5.2vw;
    border-radius: 100px;
}

/* Galerie d'images */
.galerie {
    width: 50%;
    margin: 5vw auto;
    position: relative;
}

/* Images list */
.galerie .images li img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.galerie .images li:not(.active) {
    display: none;
}

.galerie .ui {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Arrows */
.galerie .ui .arrow {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    border: none;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.438);
    width: 2.1vw;
    height: 2.1vw;
    border-radius: 100px;
    cursor: pointer;
}

.galerie .ui .arrow img {
    width: 1.1vw;
    position: absolute;
    top: 25%;
}

.galerie .ui .arrow.right {
    right: -2.5%;
}

.galerie .ui .arrow.right img {
    transform: rotate(270deg);
    right: 25%;

}

.galerie .ui .arrow.left {
    left: -2.5%;
}

.galerie .ui .arrow.left img {
    transform: rotate(90deg);
    left: 25%;
}

/* User interface */
.galerie .ui ul {
    position: absolute;
    bottom: 1vw;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.galerie .circle {
    width: 0.8vw;
    height: 0.8vw;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
}

.galerie .circle.active {
    background-color: white;
}

.galerie .circle:not(:last-child) {
    margin-right: 1vw;
}

/* Modifs à moi a partir d'ici */

.formulaire img{
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*background-image: url("assets/images/fond_formulaire_blur.png");*/
}

.form_button{
    display: inline-block;
    position: absolute;
    background-color: #307CFF;
    border: none;
    font-size: 16px;
    width: 20%;
    height: 7%;
    text-align: center;
    vertical-align: center;
    transform: translate(-50%,50%);
    top: 50%;
    left: 50%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    font-family: "HelveticaNeue";
    font-weight: bold;
    color: white;
}

.form_button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
.form_button:hover{
    background-color: #0054e6;
}

.form_button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .form_button:hover span {
    padding-right: 25px;
}
  
.form_button:hover span:after {
    opacity: 1;
    right: 0;
}


/*Franck Homepage*/
.franck_container_HP {
    width: auto;
    height: 100vh;
    background-image: url(assets/images/motoHP1.jpg);
    background-repeat: round space;
    background-size: 100%;
    /* background-position: center; */
}

.a_propos {
    color: white;
    font-size: 36px;
    margin-top: 175px;
    display: inline-block;
    margin-left: 52vw;
    padding-top: 20px;
    border-top: 4px solid white;
    width: 30vw;
}

.resume_a_propos {
    color: white;
    font-size: 24px;
    margin-top: 45px;
    display: inline-block;
    margin-left: 52vw;
    width: 30vw;
}

.styled {
    border: 0;
    line-height: 2.5;
    padding: 5px 20px;
    font-size: 1rem;
    color: white;
    background-color: rgba(220, 0, 0);
    margin-top: 70px;
    margin-left: 52vw;
    display: flex;
    align-items: space-around;
    font-family: "HelveticaNeue";
    font-weight: bold;
}

.styled:hover {
    background-color: rgba(255, 0, 0, 1);
}

.fleche {
    width: 20px;
    height: 20px;
    right: 20px;
    margin-top: 10px;
    display: inline-block;
    margin-left: 20px;
}

button p {
    color: white;
}

.franck_image {
    width: 25vw;
    top: 175px;
    height: 60vh;
    left: 10vw;
    background-color: white;
    position: absolute;
}

.franck_image img {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
}

/* Avis Homepage */

.avis_container {
    width: auto;
    height: 530px;
    background-color: #F0F2EF;
    position: relative;
}

.titre_avis {
    font-size: 36px;
    color: black;
    display: block;
    width: auto;
    text-align: center;
    padding-top: 100px;
}

.avis_container ul {
    width: auto;
    height: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cercle {
    width: 15vh;
    height: 15vh;
    border-radius: 7.5vh;
    background-color: white;   
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.438);
    background-position : 50% 50%;
    background-size : contain;
    /* position: relative; */
}

.cercle.un {
    background-image: url(assets/images/icons/moto-icon1.png);
}

.cercle.deux {
    background-image: url(assets/images/icons/moto-icon2.png);
}

.cercle.trois {
    background-image: url(assets/images/icons/moto-icon3.png);
}

.etoiles {
    margin-top: 10px;
    width: 120px;
    height: 30px;
    background-image: url(assets/images/icons/etoile.png);
    background-size : 20%;
}

/* Liste des articles */
.articles-list {
    width: 100%;
    padding: 0 11.45vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
    display: none;
}

.articles-list .article-item {
    width: 100%;
    height: 20vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    grid-template-rows: 1fr;
}


.articles-list li:not(:first-child) {
    margin-top: 8vw;
}

.article-item img {
    height: 100%;
    max-height: 350px;
    margin: 0 auto;
}

.article-item .textes {
    padding: 30px;
    background-color: white;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.12);
}

.article-item .textes button {
    padding: 5px 20px 1px 20px;
    background-color: red;
    color: white;
    font-size: 18px;
    margin-top: 25px;
}

/*Modifs a partir d'ici de moi adel gloire à moi*/
#myProgress {
    width: 100%;
    background-color: #ddd;
  }
  
  #myBar {
    width: 1%;
    height: 30px;
    background-color: #307CFF;
  }

  #section1 {
    height: 600px;
    background-color: pink;
  }
  
  #section2 {
    height: 600px;
    background-color: yellow;
  }

  .questionsform {
    font-family: "HelveticaNeue";
    font-weight: bold;
    position: absolute;
  }